.hero {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  height: 90vh;
  padding: 0 4rem;
  box-sizing: border-box;

  background: linear-gradient(
      90deg,
      rgba(0, 0, 0, 0.5) 26.2%,
      rgba(255, 119, 0, 0.2) 100%
    ),
    url("/firstbite/hero.jpg");

  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}
.hero-content {
  max-width: 700px;
}

.hero-content h1 {
  letter-spacing: 2px;
  font-weight: 650;
  line-height: 1.2;
  color: #fff;
  text-align: left;
  width: 700px;
  font-size: 51px;
  font-family: Montserrat;
  margin-bottom: 2.5rem;
}

.hero-input {
  display: flex;
  align-items: center;
  gap: 15px;
}

.hero-input-child {
  display: flex;
  align-items: center;
  background: #fff;
  border-radius: 10px;
  width: 400px;
  padding: 1rem;
  border: 1px solid #ddd;
}

.location {
  font-size: 1.5rem;
  color: #777;
  margin-right: 10px;
}


.herobtn {
  background-color: #ff7700;
  border: none;
 padding: 14px 36px;
 color: #fff;
  border-radius: 10px;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
  transition: background 0.3s ease;
  white-space: nowrap;
}


.hero-input button:hover {
  background-color: #ff9f40;
}

@media (max-width: 1024px) {
  .hero-content h1 {
    font-size: 42px;
  }
}


@media (max-width: 768px) {
  .hero {
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding: 2rem 1rem;
    height: 100vh; 
  }

  .hero-content {
    max-width: 100%;
  }

  .hero-content h1 {
    font-size: 28px;
    width: 100%;        
    text-align: center; 
  }

  .hero-input {
    flex-direction: column;
    gap: 15px;
    width: 100%;
    margin-top: 1.5rem;
  }

  .hero-input-child {
    width: 100%;
  }

  .herobtn {
    width: 100%;   
    text-align: center;
  }
}