.frm{
    background: white;
    min-width: 550px;
    min-height: 75vh;
    padding: 1rem 2rem;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
}
.pass{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.pass > input{
    padding: 1rem;
    border-radius: 10px;
}
.btn1{
   padding: 1rem 0;
    border-radius: 10px;
    font-size: 17px;
    outline: none;
    border: 1px solid;
    background:#ff7700;
    color: white;
    cursor: pointer;
    transition: background 0.3s ease;

}
.confirm-pass{
    display: flex;
    flex-direction: column;
    gap: 4rem;
}
.confirm-pass > button{
    border: none;
    outline: none;
}