.steps-container {
  min-height: 70vh;
 
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
  margin-bottom: 50px;
}
.steps-contained {
  max-width: 90%;
  width: 100%;
  margin-bottom: 50px;
}
.steps-text {
  margin-bottom: 30px;
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
}
.steps-text h3 {
  font-weight: 600;
  font-size: 32px;
}
.steps-subtext {
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  margin-bottom: 30px;
}
.steps-subtext p {
  font-size: 20px;
  font-weight: 500;
}
.steps-wrapper {
  display: flex;
  justify-content: center;
  gap: 10px;
}
.steps-wrapped {
  width: 45%;
  min-height: 50vh;

  display: flex;
  flex-direction: column;
  gap: 30px;
}
.first-step,
.second-step,
.third-step {
  height: 30%;
  margin-top: 10px;
  padding: 10px;
  border: 1px solid #ececec;

}
.first-step h4,
.second-step h4,
.third-step h4 {
  font-size: 20px;
  font-weight: 700;
}
.first-step p,
.second-step p,
.third-step p {
  font-size: 16px;
  font-weight: 500;
  line-height: 2;
}
.steps-image {
  width: 45%;
  display: flex;
  justify-content: center;
  align-items: center;
  max-height: 52vh;
}
.steps-image img {
  width: 100%;
  height: 100%;

  object-fit: cover;
}
